mex.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema  xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	
<xsd:element name="messaggi">
		 <xsd:complexType>
      <xsd:sequence>
       <xsd:element ref="messaggio" minOccurs="0" maxOccurs="unbounded" />
      </xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	
<xsd:element name="messaggio" >
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element ref="testo"></xsd:element>
    </xsd:sequence>
    <xsd:attribute name="tipoMex" type="xsd:string" use="required"/>
  </xsd:complexType>
</xsd:element>

<xsd:element name="testo" type="xsd:string"></xsd:element>

</xsd:schema>
